* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #fbeff5;
}

:root {
  --fuente-principal: 'Montserrat', sans-serif;
  --fuente-titulo: 'Playfair Display', serif;
}

body {
  font-family: var(--fuente-principal);
}

h1, h2, h3 {
  font-family: var(--fuente-titulo);
}