.presentacion-quince {
  min-height: 80vh;
  padding: 60px 20px;
  text-align: center;

  background:
    linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.85)
    ),
    url("../assets/presentcion.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.presentacion-quince h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  letter-spacing: 2px;
  color: #7a2c5c;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.nombre {
  font-family: 'Playfair Display', serif;
  font-size: 2.3rem;
  color: #5a1f42;
  margin-bottom: 18px;
}

.nombre span {
  font-size: 0.9rem;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 2px;
  color: #8c3a6b;
}

.mensaje {
  font-family:  'Cormorant Garamond', serif;
  font-size: 1rem;
  color: #4a1736;
  line-height: 1.6;
  max-width: 320px;
  margin: 0 auto;
}
